# Ингорировать всё
*

# Файлы и папки которые не нужно игнорировать
!.gitignore
!flameshot/
!flameshot/**
!kitty/
!kitty/**
!mpd/
!mpd/mpd.conf
!niri/
!niri/**
!noctalia/
!noctalia/colors.json
!noctalia/plugins.json
!noctalia/settings.json
!yazi/
!yazi/**
